.page-request {
    padding-top: 8.75rem;
    display: flex;
    flex-direction: column;
    gap: var(--m-5);
    align-items: center;
}

.page-request .page-request__cards {
    display: flex;
    flex-direction: column;
    gap: var(--m-3);
}