{{ define "lamp_card_horizontal_view" }}
<div class="lamp-card lamp-card_horizontal">
    <a class="lamp-card__a" href="/lamp/{{ .Lamp.ID }}"><img class="lamp-card__image" src="{{ .Lamp.ImageURL }}"
            alt="{{ .Lamp.Title }}"></a>
    <div class="lamp-card__body">
        <a class="lamp-card__a" href="/lamp/{{ .Lamp.ID }}">
            <p class="lamp-card__title">{{ .Lamp.Title }}</p>
        </a>
        <p class="lamp-card__about">{{ .Lamp.LuminousFluxLm }} лм</p>
        <p class="lamp-card__about">Площадь: {{ .AreaM2 }} м²</p>
        <p class="lamp-card__about">Количество {{ .Number }}</p>
    </div>
</div>
{{ end }}